<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897217641932-iede7nmvcjd0e6gt581uodpapf2ma939.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897217641932-iede7nmvcjd0e6gt581uodpapf2ma939</string>
	<key>API_KEY</key>
	<string>AIzaSyAIwC2zmLue8qJqSa1K7F76iYsP_ZsTdEU</string>
	<key>GCM_SENDER_ID</key>
	<string>897217641932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ass1</string>
	<key>PROJECT_ID</key>
	<string>appproject-e8710</string>
	<key>STORAGE_BUCKET</key>
	<string>appproject-e8710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897217641932:ios:826fe22e90fddf87e97169</string>
</dict>
</plist>